*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.bodi{
    font-family: sans-serif;
    margin: 0;
    background-color: #212121;
}
.pagetheme{
    background-color: rgb(10, 10, 10);
    display: flex;
    justify-content: space-between;
}
button {
    width: 160px;
    height: 30px;
    overflow: hidden;
    border: none;
    color: rgb(235, 204, 204);
    background: none;
    position: relative;
    padding-bottom: 2em;
    margin-left: 1%;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 16px;
  }
  
  button > div,button > svg {
    position: absolute;
    width: 10%;
    height: 100%;
    display: flex;
  }
  
  button:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: currentColor;
    transition: transform 0.25s ease-out;
  }
  
  button:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  button .clone > *,button .text > * {
    opacity: 1;
    font-size: 1.3rem;
    transition: 0.2s;
    margin-left: 4px;
  }
  
  button .clone > * {
    transform: translateY(60px);
  }
  
  button:hover .clone > * {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  button:hover .text > * {
    opacity: 1;
    transform: translateY(-60px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  button:hover .clone > :nth-child(1) {
    transition-delay: 0.15s;
  }
  
  button:hover .clone > :nth-child(2) {
    transition-delay: 0.2s;
  }
  
  button:hover .clone > :nth-child(3) {
    transition-delay: 0.25s;
  }
  
  button:hover .clone > :nth-child(4) {
    transition-delay: 0.3s;
  }
  /* icon style and hover */
  button svg {
    width: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-50deg);
    transition: 0.2s ease-out;
  }
  
  button:hover svg {
    transform: translateY(-50%) rotate(-90deg);
  }
.switch {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    --background: #28096b;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: .5s;
}
input:checked + .slider {
    background-color: #522ba7;
}
input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
  }
  .encabezado{
    display: flex;
    min-height: 7px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(10, 10, 10);
    padding: 0%;
    margin-bottom: 0;
}
.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-left: 50px;
    padding-right: 50px;
}
.logo img{
    height: 100px;
    margin-right: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
}
.NamePage{
    font-family: 'Indie Flower', cursive;
}
.vinculos{
    text-decoration: none;
    background-color: rgb(27, 26, 26);
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 10em;
    border-radius: 1rem;
    color: rgb(235, 204, 204);
    box-shadow: 0 0.4rem #120f0f;
    cursor: pointer;
}
.nav{
    padding-right: 50px;
    padding-left: 50px;
}
nav a:hover:not(:disabled) {
    background: rgb(226, 205, 205);
    color: rgb(12, 12, 12);
    text-shadow: 0 0.1rem #bcb4b4;
    font-size: 120%;
   }
nav a:active{
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
}
button:disabled {
    cursor: auto;
    color: grey;
   }
.NombrePagina{
    font-family: 'Sassy Frass', cursive;
    font-size: 300%;
    color: wheat;
}
html.dark-mode .pagetheme{
    background-color: #F2DEBA;
}
html.dark-mode header{
    background-color: #F2DEBA;
}
html.dark-mode .NombrePagina{
    color: black;
}
html.dark-mode .logo{
    color: black;
}
html.dark-mode .vinculos{
    text-decoration: none;
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 10em;
    border-radius: 1rem;
    color: lightcoral;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
    padding-bottom: 10px;
}
html.dark-mode nav{
    padding-right: 50px;
    padding-bottom: 10px;
}
html.dark-mode nav a:hover:not(:disabled) {
    background: lightcoral;
    color: white;
    text-shadow: 0 0.1rem #bcb4b4;
    font-size: 120%;
   }
html.dark-mode nav a:active{
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
}
html.dark-mode button:disabled {
    cursor: auto;
    color: grey;
   }
html.dark-mode .seccion1{
    background-color: #FAECD6;
    color: black;
}
html.dark-mode .seccion2{
    background-color: #FAECD6;
    color: black;
}
html.dark-mode .bodi{
    background-color: #FAECD6;
}
html.dark-mode button{
    color: lightcoral;
}